.camperListContainer {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.camperCard {
  border: 1px solid var(--gray-light);
  border-radius: 20px;
  padding: 24px;
  width: 888px;
}

.locationCont {
  display: flex;
  gap: 16px;
  margin-bottom: 24px;
}
