:root {
  --main: #101828;
  --text: #475467;
  --white: #ffffff;
  --inputs: #f7f7f7;
  --badges: #f2f4f7;
  --gray: #6c717b;
  --gray-light: #dadde1;
  --btn: #e44848;
  --btn-hover: #d84343;
  --rating: #ffc531;
}
